body {background-color: rgb(91, 168, 19);}

  .jumbotron {
    background-image: url("../images/green.jpg");
    background-size: 100% 100%;
    text-align: center;
  }
  h1 {
    border: 5px solid rgb(0, 255, 255);
  }
  